
<div class="appInfo">
  <div class="page-header">
    <h1 id="contact">Danh sách  <small>các bài thi do giáo viên tạo ra.</small></h1>
  </div>


  <% @baitaps.each do |bt| %>
    <img src="/images/flashcards/formulas.png" style="float:left; margin-right: 8px; margin-top:2px;"/>
    <p><%= bt.name %></p>

    <div class="page-header">
      <h4><%= bt.description %><small></small></h4>
      <div>
        <a href="<%= bai_tap_path(:id => bt.id) %>" class="btn btn-danger">Làm Bài</a>
        <a class="btn btn-info">Quản lý Câu hỏi</a>
      </div>
    </div>
  <% end %>




</div>
