<div class="appInfo">
  <h1>Phần mềm giúp đỡ học sinh rà soát lại kiến thức toán học của mình.</h1>
</div>

<%#*<div class="appInfo">%>
  <%#*<div class="page-header">%>
    <%#*<h1 id="contact">Danh sách  <small>các bài thi do giáo viên tạo ra.</small></h1>%>
  <%#*</div>%>
  <%#*<p>Hiển thị danh sách các bài thi ở dưới đây.</p>%>

  <%#*<div class="page-header">%>
    <%#*<h4>Bao gồm <small></small></h4>%>
  <%#*</div>%>
  <%#*<img src="images/flashcards/study.png" style="float:left; margin-right: 8px; margin-top:2px;">%>
  <%#*<p>icon này có thể được sử dụng làm nút bấm để bắt đầu bài thi.</p>%>

  <%#*<div class="page-header">%>
    <%#*<h4>Bắt đầu<small></small></h4>%>
  <%#*</div>%>
  <%#*<img src="images/flashcards/smart.png" style="float:left; margin-right: 8px; margin-top:2px;">%>

  <%#*<p>icon này được dùng làm hộp đựng bài thi, lúc mà giáo viên quản trị danh sách các bài thi do mình tạo ra.</p>%>

  <%#*<div class="page-header">%>
    <%#*<h4>Hộp đựng bài thi<small></small></h4>%>
  <%#*</div>%>
  <%#*<img src="images/flashcards/formulas.png" style="float:left; margin-right: 8px; margin-top:2px;">%>

  <%#*<p>Icon này dùng làm hiển thị trong lúc học sinh đang làm bài.</p>%>

  <%#*<div class="page-header">%>
    <%#*<h4>Exporting to iPhoto <small></small></h4>%>
  <%#*</div>%>
  <%#*<img src="images/flashcards/iPhoto.png" style="float:left; margin-right: 8px; margin-top:2px;">%>

  <%#*<p>icon này không cần dùng, sẽ bỏ đi.</p>%>
<%#*</div>%>
