<div class="appInfo">
  <div class="page-header">
    <h1 id="contact">Câu hỏi mới cho <small><%= @baitap.name %></small></h1>
  </div>


  <div class="page-header">
    <h4><small></small></h4>
  </div>
  <div class="page-header">
    <h4><small>abc</small></h4>
  </div>
  <div class="page-header">
    <h4><small>abc</small></h4>
  </div>




</div>
