<div id="verify<%= traloi.id %>">
  <input type="radio" name="verify" value="yes"/>Đúng<br/>
  <input type="radio" name="verify" value="no"/>Sai
</div>
<script>
  $(document).ready(function() {
    $('#verify<%= traloi.id %>').find('input').click(function(){
      var strva = $(this).val();
      DanhGia(strva,'<%= traloi.id %>');
    });
  });
</script>