<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">
      
      
      


      <table class="table"  style="font-size: 30px; line-height: 40px;">
        <thead>
          <tr>
            <td><h1  style="font-size: 30px; line-height: 40px;"><%= @baitap.name %></h1></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3  style="font-size: 30px; line-height: 40px;">Đúng</h3>
            </td>
            <td>
              <h3  style="font-size: 30px; line-height: 40px;"><%= @right %></h3><br/>
            </td>
             
          </tr>
          <tr>
            <td><h3  style="font-size: 30px; line-height: 40px;">Sai</h3></td>
            <td><h3  style="font-size: 30px; line-height: 40px;"><%= @wrong %></h3><br/></td>
          </tr>
          <tr>
            <td>
              <h3  style="font-size: 30px; line-height: 40px;">Mức độ làm bài của thí sinh: <%= @hocsinh.ten %></h3>
            </td>
            <td>

              <canvas id="foo" width="200" height="100"></canvas>

            </td>
          </tr>
        </tbody>
      </table>

      


    </div>
  </div>
</div>
