<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">
      Thí sinh đã làm bài này rồi. Có cho phép làm lại không?
      <a class="btn btn-success" href="<%= lamlai_app_managers_path %>">Có</a>
      <a class="btn btn-info" href="<%= root_url %>">Không</a>
    </div>
  </div>
</div>
