<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <div style="margin-top:65px;" class="row">
    <div class="row">
      <div class="span4">
        <img src="images/flashcards-icon.png" alt="Flashcards Icon">
        <br>
        <a href="#" class="btn large success">Danh mục bài thi</a>
      </div>






























      
      <div class="span8"><%= render :partial => "/app_managers/box/main_panel" %></div>
    </div>





















  </div>

</div> <!-- /container -->
