<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class ="span8" style="font-size: 30px; line-height: 40px;">
      Kết thúc.
    </div>
  </div>
</div>


