<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
      <a href="#" class="btn large success">Danh mục bài thi</a>
    </div>
    <div class ="span8">
      <h1>Bài khảo sát: <%= @baitap.name %></h1>
      Mã Học sinh: <%= @hocsinh.mahocsinh %><br/>
      Tên Học sinh: <%= @hocsinh.ten %>
      <div>
        <%= render :partial => "/app_managers/form/traloi" %>
      </div>
    </div>
  </div>
</div>


