<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/blackboard.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">






<%= render :partial => "/app_managers/box/item" %>




    </div>
  </div>
</div>



