<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
      <a href="#" class="btn large success">Danh mục bài thi</a>
    </div>
    <div class="span8">

      <div class="row">
        Mã thí sinh (nếu đã có):
      </div>
      <div class="row">
        Nếu chưa có mã thí sinh, nhập họ và tên để bắt đầu:
      </div>


    </div>
  </div>
</div>


