<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/chambai.jpg" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">
      <table class="table">
        <% @ketquas.each do |k| %>
          <tr>
          <thead>
          <td style="font-size: 30px; line-height: 40px;">Tên</td>
          <td style="font-size: 30px; line-height: 40px;">Mã</td>
          <td style="font-size: 30px; line-height: 40px;">Xóa bài làm</td>
          </thead>
          <td>
            <a style="font-size: 30px; line-height: 40px;" href="<%= cham_bai_path(:id => k.id) %>" class="btn large success"><%= HocSinh.find(k.hoc_sinh_id).ten %></a>
          </td>
          <td style="font-size: 30px; line-height: 40px;">
            <%= HocSinh.find(k.hoc_sinh_id).mahocsinh %>
          </td>
          <td>
            <a style="font-size: 30px; line-height: 40px;" href="<%= xoa_ketqua_app_managers_path(:id => k.id, :batap_id => @baitap.id) %>" class="btn large success">Xóa Kết Quả</a>
          </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
