<label><h1>Câu hỏi:</h1><h2><%= pheptinh.cau_hoi %></h2></label>

<div>
  <% a=pheptinh.phanso_a
  a1=a.split('/')[0]
  a2=a.split('/')[1]
%>

</div>
<table style="font-size: 40px;">
  <tr>
    <td>

    </td>
    <td>
      <%= pheptinh.songuyen %>

    </td>
    <td>
      <div style="border-bottom: 3px solid black; width: 60px; margin: 18px; padding: 10px;"> <%= a1 %> </div>
      <div style="padding: 10px; margin-left: 18px;"> <%= a2 %> </div>

    </td>
  </tr>
</table>
Dùng dấu / để phân cách tử số và mẫu số khi trả lời<br/>
