<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">
      <%= form_for(@baitap, :html => { :multipart => false }) do |f| %>
      <table  class="table">
        <tr><td><div>Tên bài kiểm tra</div></td><td><%= f.text_field :name %></td></tr>
        <tr><td>Mô tả nội dung bài kiểm tra</td><td><%= f.text_area :description %></td></tr>
      </table>
        <%= f.submit 'Khởi tạo' %>
      <% end %>
    </div>
  </div>
</div>



