<div style="margin-top:65px;" class="row">
  <div class="row">
    <div class="span4">
      <img src="/images/flashcards-icon.png" alt="Flashcards Icon">
      <br>
    </div>
    <div class="span8">

      <%= render :partial => "/bai_taps/box/form_cau_hoi" %>
    </div>
  </div>
</div>



